@import url('https://fonts.googleapis.com/css2?family=Krub:wght@500&display=swap');

:root{
    --blanco:  #fff  ;
    --oscuro:  #212121  ;
    --primario:  #ffc107  ;
    --segundario: #0097a7;
    --gris: #757575;

}

*{
    /* box-sizing: border-box;
    padding:0;
    margin: 0;  */
}

html{
    font-size: 62.5%;
    /*
    Los rem se van a adapatar a 10px por 1 rem 
    ejp: 1rem = 10px 1.5rem = 15px
*/
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
}

.titulo span{
    font-size:2rem;
}

.navegacionPrincipal{
    background-color:var(--segundario);
}

.nav-bg{
    background-color:var(--segundario);
}

.content{
    max-width:120rem;
    margin: 0 auto;
}

.navegacionPrincipal {
    display:flex;
    justify-content: space-between;
}

.navegacionPrincipal a{
    display:block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-weight:700;
    padding: 1rem;
    width: 100%;

}
.navegacionPrincipal a:hover{
    background:var(--primario);
    color:var(--oscuro);
}

@media (max-width:760px ) {
    .navegacionPrincipal {
        flex-direction:column;
        align-items:center;
    }

}